* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:  rgb(190, 188, 188);
  background-image: url(images/beach.jpg);
    width: 50vw;
    height: 900px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 50%;
  position: relative;
}

main, header, footer {
background-color: honeydew;
}

ul li {
  list-style-type: none;
  display: inline-block;
}

li a:hover {
  font-weight: bold;
}
h1 {
    font-style: italic;
  }






